search:
    forms:
        in: %appDir%/Forms
        classes: *FormFactory
    models:
        in: %appDir%/Model
        classes: *Model

services:
    security.passwords: Nette\Security\Passwords(::PASSWORD_BCRYPT, [cost: 12])
    - App\Router\RouterFactory::createRouter
    - App\Component\Article\ArticleFactory(%articlesPerPage%)
