{block content}



<div class="row  justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
        <p class="lead">Změna hesla</p>
        {include bs-form changePassForm}
    </div>
</div>


<div class="row my-5 justify-content-center">
    <div class="col">
        <a n:href="logout!">Odhlásit se</a>
    </div>
</div>